
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0s">

  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'story_6/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'story_6/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'story_6/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'story_6/bootstrap.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'story_6/story6.css' %}">

  <title>Frehanza | Kegiatan</title>
</head>
<body>
  <!-- Nav -->
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="http://story-frehanza.herokuapp.com"><img src="{% static 'story_6/favicon-32x32.png' %}" alt="F"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="http://story-frehanza.herokuapp.com">Blog</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

  {% block body %}
  {% endblock %}

  <footer>
    <span class="logo">A unique<br>Copyright</span>
   <div class="box">
    <span class="box__copy">©</span>
     <div class="box__group">
       <p class="box__date">2020 Frehanza</p>
     <hr>
     <a class="box__link" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=frehanza@gmail.com">Contact Me</a>
     </div>
   </div> 
  </footer>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

<script>
      var typed = new Typed(".animate", {
        strings: [
            "Student","Fighter","Dreamer"
        ],
        typeSpeed: 50,
        backSpeed: 50,
        loop: true
    });
</script>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
$(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
        $('.nav').addClass('affix');
        console.log("OK");
    } else {
        $('.nav').removeClass('affix');
    }
});
</script>

<script>
$('.navTrigger').click(function () {
$(this).toggleClass('active');
console.log("Clicked menu");
$("#mainListDiv").toggleClass("show_list");
$("#mainListDiv").fadeIn();
});
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>  <script type="text/javascript" charset="utf-8">
$(function() { $('body').hide().show(); });

</script>
</body>
</html>