{% extends 'story_6/base.html' %}
{% block body %}
<div class="container py-5">
  <!-- Form -->
  <div class="card bg-light mb-3">
    <div class="card-header">Join Activity</div>
    <div class="card-body">
      <form method='POST' action='/add-peserta/{{ kegiatan.pk }}/'>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Your Name</label>
          <input type="text" class="form-control" name='nama_peserta' required>
        </div>
        <button type="submit" class="btn btn-success">Join</button>
      </form>
    </div>
  </div>

  <h1>Daftar Peserta</h1>
  {% if kegiatan.peserta.all|length == 0 %}
    <p>Tidak ada peserta</p>
  {% else %}
    <table class="table table-striped">
      <tbody>
        {% for peserta in kegiatan.peserta.all %}
          <tr>
            <td>{{ peserta.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

{% endblock %}