{% extends 'story_6/base.html' %}
{% block body %}
  <!-- Body -->
  <div class="container py-5">

    <!-- Form -->
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Add Activities</div>
      <div class="card-body">
        <form method='POST' action='/add-kegiatan/'>
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Activities Name</label>
            <input type="text" class="form-control" name='kegiatan_name' required>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>

    <!-- Daftar Kegiatan -->
    <div class="d-flex flex-wrap justify-content-center">
      {% for kegiatan in daftar_kegiatan %}
        <div class="card kegiatan m-3">
          <div class="card-body d-flex flex-column justify-content-between">
            <a class="badge badge-danger ml-auto" href="{% url 'delete-kegiatan' kegiatan.pk %}">Delete</a>
            <h5 class="card-title">{{ kegiatan.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Participants :</h6>
            <ul class="list-group list-group-flush">
              {% if kegiatan.peserta.all|length < 1 %}
                <li class="list-group-item">No participants</li>
              {% else %}
                <ul>
                  {% for peserta in kegiatan.peserta.all %}
                    {% if forloop.counter < 4 %}
                      <li>{{ peserta.name }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}

            </ul>
            <div class="d-flex flex-wrap">
              <a href="{% url 'daftar-peserta' kegiatan.pk %}" class="card-link">See all participants</a>
            </div>
          </div>
          <a href="{% url 'daftar-peserta' kegiatan.pk %}" class="btn btn-outline-primary">Join</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}