@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('./fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('./fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
  }
  
  @font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('./fonts/Barlow-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('./fonts/Barlow-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../fonts/Barlow-SemiBold.woff') format('woff');    
  }
  
  @font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../fonts/Barlow-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../fonts/Barlow-Black.woff') format('woff');
  }
    
  
  * {
    box-sizing: border-box;
    padding: 0px;
  margin: 0px;
  } 
  
  html, body {
  
    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;
    background: #000;
    background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
    background-size: cover;
  
  }
  
  /* Forms */
  
  .page {
  
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    place-content: center;
    width: calc(100% - 40px);
   

  }
  
  @media (max-width: 767px) {
    .page {
      height: auto;
      margin-bottom: 20px;
      padding-bottom: 20px;
      background-size: cover;
    }
  }
  .form-container {
    margin-top: 60px;
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
  }
  @media (max-width: 767px) {
    .form-container {
        margin-top: 20px;
      flex-direction: column;
      height: 630px;
      width: 320px;
    }
  }
  .left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
    height: 310px;
  }
  @media (max-width: 767px) {
    .left {
      height: fit-content;
      left: 20px;
      width: calc(100% - 40px);
      max-height: 270px;
    }
  }
  .login {
    font-family: 'Monument Extended Ultrabold';
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
  }
  .eula {
    font-family: 'Barlow Medium';
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
  }
  .right {
    background: #141414;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
    height: fit-content;

  }
  @media (max-width: 767px) {
    .right {
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      
    }
  }
  svg {
    position: absolute;
    width: 320px;
    height: fit-content;
  }
  path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
  }
  .form {
    margin: 40px;
    position: absolute;
  }
  label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
  }
  input::-moz-focus-inner { 
    border: 0; 
  }
  

  /* Button */
  button {
    height: 40px;
    margin-left: 60px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #141414;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
button:hover {
    color: white;
    background: rgba(255,165,205,1);
}
button:active {
    letter-spacing: 2px;
}
button:after {
    content: "SUBMIT";
}
.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ecd97;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}
.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
    display: table;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #fff;
  }
  
  .row.header {
    color: #ffffff;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
  }
  
  @media screen and (max-width: 768px) {
    .row {
      display: block;
    }
  
    .row.header {
      padding: 0;
      height: 0px;
    }
  
    .row.header .cell {
      display: none;
    }
  
    .row .cell:before {
      font-family: "Barlow Medium";
      font-size: 12px;
      color: #808080;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: unset !important;
  
      margin-bottom: 13px;
      content: attr(data-title);
      min-width: 98px;
      display: block;
    }
  }
  
  .cell {
    display: table-cell;
  }
  
  @media screen and (max-width: 768px) {
    .cell {
      display: block;
    }
  }
  
  .row .cell {
    font-family: "Barlow Medium";
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .row.header .cell {
    font-family: "Barlow Medium";
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 19px;
    padding-bottom: 19px;
  }
  
  .row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
  }
  
  .row .cell:nth-child(2) {
    width: 160px;
  }
  
  .row .cell:nth-child(3) {
    width: 250px;
  }
  
  .row .cell:nth-child(4) {
    width: 190px;
  }
  
  
  .table, .row {
    width: 100% !important;
  }
  
  .row:hover {
    background-color: #ececff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .row {
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 18px;
      padding-top: 30px;
      padding-right: 15px;
      margin: 0;
    }
    
    .row .cell {
      border: none;
      padding-left: 30px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .row .cell:nth-child(1) {
      padding-left: 30px;
    }
    
    .row .cell {
      font-family: "Barlow Medium";
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      font-weight: unset !important;
    }
  
    .table, .row, .cell {
      width: 100% !important;
    }
  }

