@font-face {
  font-family: 'Monument Extended Ultrabold';
      src: url("../story_6/fonts/monumentextended-ultrabold-webfont.01bc31ffdd69.woff2") format('woff2'),
           url("../story_6/fonts/monumentextended-ultrabold-webfont.6be67d46d50b.woff") format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'Barlow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Barlow Regular'), url("../story_6/fonts/Barlow-Regular.02a9a93859fb.woff") format('woff');
}

@font-face {
  font-family: 'Barlow Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Barlow Medium'), url("../story_6/fonts/Barlow-Medium.e555da6effde.woff") format('woff');
}

@font-face {
  font-family: 'Barlow SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Barlow SemiBold'), url("../story_6/fonts/Barlow-SemiBold.4a9efb8f454b.woff") format('woff');    
}

@font-face {
  font-family: 'Barlow Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Barlow Bold'), url("../story_6/fonts/Barlow-Bold.ec757475b377.woff") format('woff');
}

@font-face {
  font-family: 'Barlow Black';
  font-style: normal;
  font-weight: normal;
  src: local('Barlow Black'), url("../story_6/fonts/Barlow-Black.261f62bc124f.woff") format('woff');
}
  




.card.kegiatan {
    width: 18rem;
  }
  
  .badge {
    width: min-content;
  }
  
  @media (max-width: 736px) {
    .card.kegiatan {
      width: 100%;
    }
  }

/* HTML */
  * {
  box-sizing: border-box;
  padding: 0px;
	margin: 0px;
} 

html, body {

  width: 100%;
  height: 100%;
  background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
  background-size: cover;

}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-top: 1rem;
  
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-family: Heebo;
  
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 2rem;

  list-style: none;
  margin-right: 20px ;
}

.nav div.main_list ul li a {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav div.main_list ul li a:hover {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  
  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  .nav div.logo {
      margin-left: 15px;
  }
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      /*same background color of navbar*/
      background-position: center top;
      z-index: 100;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
      z-index: 99;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      padding: 20px;
      z-index: -99;
  }
  .nav div.media_button {
      display: block;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #000000;
}

/* Footer */
p {
  margin: 0;
}

footer {
  height: 60px;
  font-family: "Barlow Medium";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
  font-family: "Montserrat";
}

footer .logo {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  border-radius: 8vmin;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.box:hover {
  position: relative;
  width: calc(300px + 50px);
  background-color: white;
  cursor: default;
}
.box:hover .box__group {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}
.box:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  width: 101%;
  box-sizing: border-box;
  right: 350px;
  z-index: -1;
}
.box__copy {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 2.5rem;
  margin-left: 2px;
}
.box__group {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: 0.4s ease-in-out;
  transition-delay: 0.2s;
  transform: translateX(290px);
}
.box__group hr {
  width: 3px;
  height: 30px;
  background-color: #000;
  border: none;
  margin: 0 15px;
}
.box__date {
  font-size: 1rem;
  margin-left: 15px;
  color: #000;
}
.box__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #F1609D;
  letter-spacing: 1px;
}

/* Form */
.bg-primary {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  width: fit-content;
  height: 100%;
  margin-left: 150px;
  margin-top: 40px;
  
  font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;

  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Table */
.table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  align-items: center;
  text-align: center;
}
th {
  text-align: center;
}

#title {
  text-align: center;
  color: rgba(233,169,227,1);
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}